.sb-sidenav-dark .sb-sidenav-menu .nav-link.router-link-exact-active, .sb-sidenav-dark .sb-sidenav-menu .nav-link.router-link-active{ color: #fff; }
.rightPanel{ padding-top: 20px; background: #343a40 !important; }

.fade-enter-active, .fade-leave-active {
    transition: all .9s ease-out;

}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: scaleY(0) scaleX(0);
    transition: all .3s ease-in;
}


.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to

    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(-50px);
    margin-top: -10%;
    /*transform: scaleY(0);*/

    opacity: 0;
}