<template>
  <div class="row">

  <div class="col-10" v-if="!_.size(fd)">

    <p v-if="$store.state.tmp.globalSearch">Filtered by: '{{$store.state.tmp.globalSearch}}'</p>
    <table class="table table-bordered mt-3" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <template v-for="(field, index) in selectedPostType.fields" >
          <th class="text-capitalize" v-if="field.showOnAdminList" v-bind:key="index">{{index}}</th>
        </template>
        <th>at</th>
        <th>Action</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <template v-for="(field, index) in selectedPostType.fields">
          <th class="text-capitalize" v-if="field.showOnAdminList" v-bind:key="index">{{index}}</th>
        </template>
        <th>at</th>
        <th>Action</th>
      </tr>
      </tfoot>
      <tbody>
      <template v-for="(item, index) in mainList">
        <tr v-bind:key="index">
          <template v-for="(field, index) in selectedPostType.fields" >
            <td v-if="field.showOnAdminList" v-bind:key="index">
              <span v-if="field.translate">{{_.get(item, index)}}</span>
              <span v-if="!field.translate">{{_.get(item, index)}}</span>
            </td>
          </template>
          <td class="small text-muted">{{item.post_date}}</td>
          <td><router-link :to="{name: 'contentPage', params: {id:item.id} }">Edit</router-link></td>
        </tr>
      </template>
      </tbody>
    </table>
  </div>

  <div class="col-10" v-if="_.size(fd)">
    <form v-on:submit.stop.prevent="updateFd()">
      <input type="hidden" v-model="fd.id" />

      <ul class="nav nav-pills">
        <template v-for="(lan, lanIndex) in $store.state.indx.langs">
            <li class="nav-item" v-bind:key="lanIndex">
              <a class="btn nav-link text-uppercase" v-bind:class="[editFormLang == lan?'active':'']" v-on:click="editFormLang = lan">{{lan}}</a>
            </li>
        </template>
      </ul>

<!--      <editor v-model="ssss"></editor>-->

      <template v-for="(lan, lanIndex) in $store.state.indx.langs" >

        <div class="card mb-4" v-bind:key="lanIndex" v-show="editFormLang == lan">
            <div class="card-body">
              <template v-for="(field, index) in selectedPostType.fields">

                <div class="form-group" v-bind:key="index" >

                  <label class="small mb-1 text-capitalize" v-bind:for="'input'+index+lan">{{index}}</label>
                  <template v-if="field.type=='text'">
                    <input v-if="field.translate" class="form-control py-4" v-bind:id="'input'+index+lan" name="none" type="text" v-bind:required="parseInt(field.required)" v-bind:placeholder="'Enter '+index+' ....'" v-model="fd[index+'_'+lan]" />
                    <input v-if="!field.translate" class="form-control py-4" v-bind:id="'input'+index+lan" name="none" type="text" v-bind:required="parseInt(field.required)" v-bind:placeholder="'Enter '+index+' ....'" v-model="fd[index]" />
                  </template>

                  <template v-if="field.type=='textarea'">

                    <textarea v-if="field.translate" class="form-control py-4" v-bind:id="'input'+index+lan" name="none" type="text" v-bind:required="parseInt(field.required)" v-bind:placeholder="'Enter '+index+' ....'" v-model="fd[index+'_'+lan]" ></textarea>
                    <textarea v-if="!field.translate" class="form-control py-4" v-bind:id="'input'+index+lan" name="none" type="text" v-bind:required="parseInt(field.required)" v-bind:placeholder="'Enter '+index+' ....'" v-model="fd[index]" ></textarea>
                  </template>

                  <span class="text-danger small">{{_.get(fe, index)}}</span>
                </div>

              </template>
            </div>
          </div>

        <!-- SEO fields -->
        <div class="card mb-4" v-bind:key="lanIndex+'seo'" v-show="editFormLang == lan" >
          <div class="card-header">
            <button type="button" class="btn btn-sm btn-dark mr-2" v-on:click="expandSeoCard = !expandSeoCard"><i class="arrow-down"> > </i></button>
            <strong>Seo Data</strong>
          </div>
          <div class="card-body" v-show="expandSeoCard">
            <template v-for="(field, index) in $store.state.indx.seoFields">

              <div class="form-group" v-bind:key="index" >

                <label class="small mb-1 text-capitalize" v-bind:for="'seoinput'+field+lan">{{field}}</label>
                <textarea class="form-control py-4" v-bind:id="'seoinput'+field+lan" name="none" type="text" v-bind:placeholder="'Enter SEO '+field+' ....'" v-model="fd['seo_'+field+'_'+lan]" ></textarea>

              </div>

            </template>
          </div>
        </div>

      </template>


      <div class="form-group mt-4 mb-0"><button type="submit" class="btn btn-primary btn-block">Save</button></div>
      <div class="form-group mt-4 mb-0"><router-link :to="{name: 'contentPage'}" type="submit" class="btn btn-light btn-block"> Back to list </router-link></div>
    </form>
  </div>


<div class="col-2 rightPanel">
  <h6 class="text-light float-left">Post Type</h6>
  <router-link :to="{ name: 'contentPage', params: {id: 'new'} }" class="btn btn-outline-light btn-sm float-right">+</router-link>
  <div class="form-group mt-2">
    <select class="form-control form-control-sm" v-model="postType">
      <option value="page">Page</option>
      <option value="post">Post</option>
    </select>
  </div>
</div>

  </div>
</template>

<script>
// import _ from 'lodash';

import _ from "lodash";



export default {


  data: function () {
    return {
      expandSeoCard: 0,
      postType:'page',
      editFormLang: '',
      fd: {}, fdDefault: { post_content: '', post_title: '', post_excerpt: '', post_status: '1', post_type: '', post_name: '' }, fe: {} /** fe = formErrors */
    }

  },

  mounted: function() {
    this.index();
    // console.log(this.$route);

  },

  watch: {
    '$route.params.id':  {
      immediate: true,
      handler: function () {

        if(!this.$route.params.id) {
          this.fd = {};
        }else if(parseInt(this.$route.params.id)){
          this.fd = this.$store.getters.getFromList( {key: 'cache.pages', val: this.$route.params.id } );
          if(this.fd.post_type)this.postType = this.fd.post_type;
        }else{
          this.fd = JSON.parse(JSON.stringify(this.fdDefault));
        }

      }
    },

  },

  computed: {
    mainList: function(){
      if(!this._.get(this.$store.state.cache, 'pages'))return [];
      let ret = [];

        for (let i in this.$store.state.cache.pages){
          let t = this.$store.state.cache.pages[i];
          // console.log(t);
          let tmp = {id:t.id, post_date: t.post_date, allFields: ''};
          if(t.post_type != this.postType)continue;

          /// create list depend on post type configs
          for (let j in this.selectedPostType.fields){
            /// if field must show on list
            if(!this.selectedPostType.fields[j].showOnAdminList)continue;
            // console.log( this.selectedPostType.fields[j] );

            /// if field is tranlstable get local one
            if(this.selectedPostType.fields[j].translate){
              tmp[j] = _.get(t, j+'_'+this.$store.state.indx.lang)?_.get(t, j+'_'+this.$store.state.indx.lang):'';
            }else{
              tmp[j] = _.get(t, j)?_.get(t, j):'';
            }
            tmp.allFields += tmp[j];
          }

          if(this.$store.state.tmp.globalSearch && tmp.allFields.indexOf(this.$store.state.tmp.globalSearch) < 0){
            continue;
          }

          ret.push( JSON.parse( JSON.stringify(tmp) ) );
        }
        return ret;
    },
    selectedPostType: function () {
      if(!this.$store.state.indx.postTypes || !_.get(this.$store.state.indx.postTypes, this.postType))return false;
      return this.$store.state.indx.postTypes[this.postType];
    }
  },

  methods: {
    updateFd: async function () {
      this.fe = {};
      this.fd.post_type = this.postType;
      let ss = await this.$fn.postData('page/updpage', this.fd);
      if(_.get(ss, 'error') == '201')return this.fe = ss.messages;

      this.$store.commit('setListOb', { formData: ss, listTitle: 'cache.pages' })
      this.fd = ss;

    },

    loadFormData: function () {
      if(parseInt(this.$route.params.id)){
        this.fd = this.$store.getters.getFromList({key: 'cache.users', val: this.$route.params.id });
      }else{
        this.fd = this.fdDefault;
      }

    },

    index: async function () {
      this.$store.dispatch('getPages');

      this.editFormLang = this.$store.state.indx.lang;


    },


  }
}
</script>


