<template>
  <div class="row">

    <div class="col-6">
      <h2>Menu name</h2>
      <el-tree
              class="aaa"
              :data="treeList"
              node-key="id"
              default-expand-all
              @node-drag-start="handleDragStart"
              @node-drag-enter="handleDragEnter"
              @node-drag-leave="handleDragLeave"
              @node-drag-over="handleDragOver"
              @node-drag-end="handleDragEnd"
              @node-drop="handleDrop"
              draggable
              :allow-drop="allowDrop"
              :allow-drag="allowDrag">

        <div class="custom-tree-node w-100" slot-scope="{ node, data }">
        <span>{{ node.label }}</span>
        <span class="float-right">
          <button class="btn btn-info btn-sm" v-on:click="fd = data">Edit</button>
        </span>
      </div>
      </el-tree>
   </div>

    <div class="col-4">
      <form v-if="_.size(fd)" v-on:submit.stop.prevent="updateFd()">
        <input type="hidden" v-model="fd.id" />

        <ul class="nav nav-pills">
          <template v-for="(lan, lanIndex) in $store.state.indx.langs">
            <li class="nav-item" v-bind:key="lanIndex">
              <a class="btn nav-link text-uppercase" v-bind:class="[editFormLang == lan?'active':'']" v-on:click="editFormLang = lan">{{lan}}</a>
            </li>
          </template>
        </ul>

        <!--      <editor v-model="ssss"></editor>-->

        <template v-for="(lan, lanIndex) in $store.state.indx.langs" >

          <div class="card mb-4" v-bind:key="lanIndex" v-show="editFormLang == lan">
            <div class="card-body">

                <div class="form-group">
                  <label class="small mb-1 text-capitalize" v-bind:for="'input_title'+lan">Title</label>
                  <input class="form-control form-control-sm py-4" v-bind:id="'input_title'+lan" name="none" type="text" required placeholder="Enter Title ...." v-model="fd['title_'+lan]" />
                  <span class="text-danger small">{{_.get(fe, 'title')}}</span>
                </div>
                <div class="form-group">
                  <label class="small mb-1 text-capitalize" v-bind:for="'input_teaser'+lan">Teaser</label>
                  <textarea class="form-control form-control-sm py-4" v-bind:id="'input_teaser'+lan" name="none" type="text" required placeholder="Enter Teaser ...." v-model="fd['teaser_'+lan]" ></textarea>
                  <span class="text-danger small">{{_.get(fe, 'teaser')}}</span>
                </div>
              <div class="form-group">
                <label class="small mb-1 text-capitalize" v-bind:for="'input_url'+lan">URL</label>
                <input class="form-control form-control-sm py-4" v-bind:id="'input_url'+lan" name="none" type="text" required placeholder="Enter URL ...." v-model="fd['url_'+lan]" />
                <span class="text-danger small">{{_.get(fe, 'url')}}</span>
              </div>

              <div class="row">
                <div class="col-12">
                  <label class="small mb-1 text-capitalize" v-bind:for="'input_related_content_type'+lan">Related Content</label>
                </div>

                <div class="col">
                  <label class="form-check-label small text-truncate" v-bind:for="'input_content_type'+lan" >Content Type</label>
                  <select class="form-control form-control-sm" v-bind:id="'input_content_type'+lan" v-model="fd.content_type">
                    <option>Page</option>
                    <option>Taxonomy</option>
                  </select>
                </div>

                <div class="col">
                  <label class="form-check-label small text-truncate" v-bind:for="'input_content_type_slug'+lan" >Parent slug</label>
                  <select class="form-control form-control-sm" v-bind:id="'input_content_type_slug'+lan" v-model="fd.content_type_slug">
                    <option>Page</option>
                    <option>Taxonomy</option>
                  </select>
                </div>

                <div class="col">
                  <label class="form-check-label small text-truncate" v-bind:for="'input_content_id'+lan" >Final slug</label>
                  <select class="form-control form-control-sm" v-bind:id="'input_content_id'+lan" v-model="fd.content_id">
                    <option>Page</option>
                    <option>Taxonomy</option>
                  </select>
                </div>

                <span class="text-danger small">{{_.get(fe, 'content_type')}}</span>
              </div>

              <div class="form-group">
                <label class="small mb-1 text-capitalize" v-bind:for="'input_image'+lan">Image URL</label>
                <input class="form-control form-control-sm py-4" v-bind:id="'input_image'+lan" type="text" placeholder="Enter Image URL ...." v-model="fd['image_'+lan]" />
                <span class="text-danger small">{{_.get(fe, 'image')}}</span>
              </div>

              <div class="row">
                <div class="col form-group mt-4 mb-0"><button type="submit" class="btn btn-primary btn-sm btn-block">Save</button></div>
                <div class="col form-group mt-4 mb-0"><button v-on:click="fd = {}" type="button" class="btn btn-sm btn-light btn-block"> Cancel </button></div>
              </div>

            </div>
          </div>



        </template>



      </form>
    </div>


    <div class="col-2 rightPanel">
      <h6 class="text-light float-left">Post Type</h6>
      <router-link :to="{ name: 'contentPage', params: {id: 'new'} }" class="btn btn-outline-light btn-sm float-right">+</router-link>
      <div class="form-group mt-2">
        <select class="form-control form-control-sm" v-model="postType">
          <option value="page">Page</option>
          <option value="post">Post</option>
        </select>
      </div>
    </div>

  </div>
</template>



<script>

  import _ from "lodash";
  import Vue from 'vue';



  export default {

    data: function () {
      return {
        expandSeoCard: 0,
        postType:'page',
        editFormLang: '',
        fd: {}, fdDefault: { post_content: '', post_title: '', post_excerpt: '', post_status: '1', post_type: '', post_name: '' }, fe: {}, /** fe = formErrors */

        treeList: [
          {
            label: 'Level one 1',
            children: [{
              label: 'Level two 1-1',
              children: [{
                label: 'Level three 1-1-1'
              }]
            }]
          }, {
            label: 'Level one 2',
            children: [{
              label: 'Level two 2-1',
              children: [{
                label: 'Level three 2-1-1'
              }]
            }, {
              label: 'Level two 2-2',
              children: [{
                label: 'Level three 2-2-1'
              }]
            }]
          }, {
            label: 'Level one 3',
            children: [{
              label: 'Level two 3-1',
              children: [{
                label: 'Level three 3-1-1'
              }]
            }, {
              label: 'Level two 3-2',
              children: [{
                label: 'Level three 3-2-1'
              }]
            }]
          }],
        defaultProps: {
          children: 'children',
          label: 'label'
        }


      }

    },

    mounted: function() {
      this.index();
      // console.log(this.$route);

    },

    watch: {
      '$route.params.id':  {
        immediate: true,
        handler: function () {

          if(!this.$route.params.id) {
            this.fd = {};
          }else if(parseInt(this.$route.params.id)){
            this.fd = this.$store.getters.getFromList( {key: 'cache.pages', val: this.$route.params.id } );
            if(this.fd.post_type)this.postType = this.fd.post_type;
          }else{
            this.fd = JSON.parse(JSON.stringify(this.fdDefault));
          }

        }
      },

    },

    computed: {
      mainList: function(){
        if(!this._.get(this.$store.state.cache, 'pages'))return [];
        let ret = [];

        for (let i in this.$store.state.cache.pages){
          let t = this.$store.state.cache.pages[i];
          // console.log(t);
          let tmp = {id:t.id, post_date: t.post_date, allFields: ''};
          if(t.post_type != this.postType)continue;

          /// create list depend on post type configs
          for (let j in this.selectedPostType.fields){
            /// if field must show on list
            if(!this.selectedPostType.fields[j].showOnAdminList)continue;
            // console.log( this.selectedPostType.fields[j] );

            /// if field is tranlstable get local one
            if(this.selectedPostType.fields[j].translate){
              tmp[j] = _.get(t, j+'_'+this.$store.state.indx.lang)?_.get(t, j+'_'+this.$store.state.indx.lang):'';
            }else{
              tmp[j] = _.get(t, j)?_.get(t, j):'';
            }
            tmp.allFields += tmp[j];
          }

          if(this.$store.state.tmp.globalSearch && tmp.allFields.indexOf(this.$store.state.tmp.globalSearch) < 0){
            continue;
          }

          ret.push( JSON.parse( JSON.stringify(tmp) ) );
        }
        return ret;
      },
      selectedPostType: function () {
        if(!this.$store.state.indx.postTypes || !_.get(this.$store.state.indx.postTypes, this.postType))return false;
        return this.$store.state.indx.postTypes[this.postType];
      }
    },

    methods: {
      updateFd: async function () {
        this.fe = {};
        this.fd.post_type = this.postType;
        let ss = await this.$fn.postData('options/updMenu', this.fd);
        if(_.get(ss, 'error') == '201')return this.fe = ss.messages;

        this.$store.commit('setListOb', { formData: ss, listTitle: 'cache.pages' })
        // this.fd = {};

      },

      index: async function () {
        this.$store.dispatch('getPages');

        this.editFormLang = this.$store.state.indx.lang;


      },


      handleDragStart(node, ev) {
        console.log('drag start', node);
      },
      handleDragEnter(draggingNode, dropNode, ev) {
        console.log('tree drag enter: ', dropNode.label);
      },
      handleDragLeave(draggingNode, dropNode, ev) {
        console.log('tree drag leave: ', dropNode.label);
      },
      handleDragOver(draggingNode, dropNode, ev) {
        console.log('tree drag over: ', dropNode.label);
      },
      handleDragEnd(draggingNode, dropNode, dropType, ev) {
        console.log('tree drag end: ', dropNode && dropNode.label, dropType);
      },
      handleDrop(draggingNode, dropNode, dropType, ev) {
        console.log('tree drop: ', dropNode.label, dropType);
      },
      allowDrop(draggingNode, dropNode, type) {
        if (dropNode.data.label === 'Level two 3-1') {
          return type !== 'inner';
        } else {
          return true;
        }
      },
      allowDrag(draggingNode) {
        return draggingNode.data.label.indexOf('Level three 3-1-1') === -1;
      }

    }
  }
</script>


