<template>
  <div class="row">

    <div class="col-10" v-if="!_.size(fd)">

      <p v-if="$store.state.tmp.globalSearch">Filtered by: '{{$store.state.tmp.globalSearch}}'</p>
      <table class="table table-bordered mt-3" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <template v-for="(field, index) in selectedTaxonomy.fields" >
            <th class="text-capitalize" v-if="field.showOnAdminList" v-bind:key="index">{{index}}</th>
          </template>
          <th>Action</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <template v-for="(field, index) in selectedTaxonomy.fields">
            <th class="text-capitalize" v-if="field.showOnAdminList" v-bind:key="index">{{index}}</th>
          </template>
          <th>Action</th>
        </tr>
        </tfoot>
        <tbody>
        <template v-for="(item, index) in mainList">
          <tr v-bind:key="index">
            <template v-for="(field, index) in selectedTaxonomy.fields" >
              <td v-if="field.showOnAdminList" v-bind:key="index">
                <span v-if="field.translate">{{_.get(item, index)}}</span>
                <span v-if="!field.translate">{{_.get(item, index)}}</span>
              </td>
            </template>
            <td>
              <router-link class="btn btn-link btn-sm" :to="{name: 'taxonomy', params: {id:item.id} }">Edit</router-link>
              <button type="button" class="btn btn-link btn-sm" v-on:click="deleteListItem( item.id )">Delete</button>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </div>

    <div class="col-10" v-if="_.size(fd)">
      <form v-on:submit.stop.prevent="updateFd()">
        <input type="hidden" v-model="fd.id" />

        <ul class="nav nav-pills">
          <template v-for="(lan, lanIndex) in $store.state.indx.langs">
            <li class="nav-item" v-bind:key="lanIndex">
              <a class="btn nav-link text-uppercase" v-bind:class="[editFormLang == lan?'active':'']" v-on:click="editFormLang = lan">{{lan}}</a>
            </li>
          </template>
        </ul>

        <template v-for="(lan, lanIndex) in $store.state.indx.langs">

          <div class="card mb-4" v-bind:key="lanIndex" v-show="editFormLang == lan">
            <div class="card-body">
              <template v-for="(field, index) in selectedTaxonomy.fields">

                <div class="form-group" v-bind:key="index" >

                  <label class="small mb-1 text-capitalize" v-bind:for="'input'+index+lan">{{index}}</label>
                  <template v-if="field.type=='text'">
                    <input class="form-control py-4" v-bind:id="'input'+index+lan" name="none" type="text" v-bind:required="parseInt(field.required)" v-bind:placeholder="'Enter '+index+' ....'" v-model="fd[index+'_'+lan]" />
                  </template>

                  <template v-if="field.type=='textarea'">
                    <textarea class="form-control py-4" v-bind:id="'input'+index+lan" name="none" type="text" v-bind:required="parseInt(field.required)" v-bind:placeholder="'Enter '+index+' ....'" v-model="fd[index+'_'+lan]" ></textarea>
                  </template>

                  <span class="text-danger small">{{_.get(fe, index)}}</span>
                </div>

              </template>
            </div>
          </div>


        </template>


        <div class="form-group mt-4 mb-0"><button type="submit" class="btn btn-primary btn-block">Save</button></div>
        <div class="form-group mt-4 mb-0"><router-link :to="{name: 'taxonomy'}" type="submit" class="btn btn-light btn-block"> Back to list </router-link></div>
      </form>
    </div>


    <div class="col-2 rightPanel">
      <h6 class="text-light float-left">Taxonomy</h6>
      <router-link :to="{ name: 'taxonomy', params: {id: 'new'} }" class="btn btn-outline-light btn-sm float-right">+</router-link>
      <div class="form-group mt-2">
        <select class="form-control form-control-sm text-capitalize" v-model="selectedTaxonomySlug">
          <template v-for="(taxonomy, index) in _.get($store.state.indx, 'taxonomy')">
            <option v-bind:value="index" v-bind:key="index" class="text-capitalize">{{index}}</option>
          </template>

        </select>
      </div>
    </div>

  </div>
</template>

<script>

  import _ from "lodash";

  export default {

    data: function () {
      return {

        selectedTaxonomySlug: 'category',
        editFormLang: '',
        fd: {}, fdDefault: { taxonomy: '', parent: 0 }, fe: {} /** fe = formErrors */
      }

    },

    mounted: function() {
      this.index();

    },

    watch: {
      '$route.params.id':  {
        immediate: true,
        handler: function () {

          if(!this.$route.params.id) {
            this.fd = {};
          }else if(parseInt(this.$route.params.id)){
            this.fd = this.$store.getters.getFromList( {key: 'cache.terms', val: this.$route.params.id } );
            if(this.fd.taxonomy)this.selectedTaxonomySlug = this.fd.taxonomy;
          }else{
            this.fd = JSON.parse(JSON.stringify(this.fdDefault));
          }
          console.log(this.fd);

          
        }
      },

    },

    computed: {
      mainList: function(){
        if(!this._.get(this.$store.state.cache, 'terms'))return [];
        let ret = [];

        for (let i in this.$store.state.cache.terms){
          let t = this.$store.state.cache.terms[i];
          // console.log(t);
          let tmp = {id:t.id, allFields: ''};
          if(t.taxonomy != this.selectedTaxonomySlug)continue;

          /// create list depend on post type configs
          for (let j in this.selectedTaxonomy.fields){
            /// if field must show on list
            if(!this.selectedTaxonomy.fields[j].showOnAdminList)continue;

            /// if field is tranlstable get local one
            if(this.selectedTaxonomy.fields[j].translate){
              tmp[j] = _.get(t, j+'_'+this.$store.state.indx.lang)?_.get(t, j+'_'+this.$store.state.indx.lang):'';
            }else{
              tmp[j] = _.get(t, j)?_.get(t, j):'';
            }
            tmp.allFields += tmp[j];
          }

          if(this.$store.state.tmp.globalSearch && tmp.allFields.indexOf(this.$store.state.tmp.globalSearch) < 0){
            continue;
          }

          ret.push( JSON.parse( JSON.stringify(tmp) ) );
        }
        return ret;
      },
      selectedTaxonomy: function () {
        if(!this.$store.state.indx.taxonomy || !_.get(this.$store.state.indx.taxonomy, this.selectedTaxonomySlug))return false;
        return this.$store.state.indx.taxonomy[this.selectedTaxonomySlug];
      }
    },

    methods: {
      updateFd: async function () {
        this.fe = {};
        this.fd.taxonomy = this.selectedTaxonomySlug;
        let ss = await this.$fn.postData('taxonomy/updTerm', this.fd);
        if(_.get(ss, 'error') == '201')return this.fe = ss.messages;

        this.$store.commit('setListOb', { formData: ss, listTitle: 'cache.terms' })
        this.fd = ss;

      },

      deleteListItem: async function (itemId) {

        let ss = await this.$fn.postData('taxonomy/deleteTerm', { itemId: itemId });
        if(_.get(ss, 'error') == '201')return ss.messages;

        this.$store.commit('delListOb', { id: itemId, listTitle: 'cache.terms' })

      },



      index: async function () {
        this.$store.dispatch('getTerms');

        this.editFormLang = this.$store.state.indx.lang;


      },


    }
  }
</script>


