<template>
  <div>
    <div class="card shadow-lg border-0 rounded-lg mt-2">
      <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
      <div class="card-body">
        <form v-on:submit.stop.prevent="updateFd()">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="small mb-1" for="inputFirstName">First Name</label>
                <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Enter first name" required v-model="fd.first_name" />
                <span class="text-danger small">{{fe.first_name}}</span>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="small mb-1" for="inputLastName">Last Name</label>
                <input class="form-control py-4" id="inputLastName" type="text" placeholder="Enter last name" required v-model="fd.last_name" />
                <span class="text-danger small">{{fe.last_name}}</span>

              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="small mb-1" for="inputEmailAddress">Email</label>
            <input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" required  v-model="fd.email" />
            <span class="text-danger small">{{fe.email}}</span>
          </div>
          <div class="form-group">
            <label class="small mb-1" for="inputRole">Role</label>
            <select class="form-control" id="inputRole" v-model="fd.user_status">
              <option value="1">Member</option>
              <option value="5">Editor</option>
              <option value="4444">Admin</option>
            </select>
          </div>
          <div class="form-group">
            <label class="small mb-1" for="inputPassword">Password</label>
            <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" required  v-model="fd.user_pass" />
            <span class="text-danger small">{{fe.user_pass}}</span>
          </div>

          <div class="form-group">
            <label class="small mb-1" for="userAgeField">User Age</label>
            <input class="form-control py-4" id="userAgeField" type="number" placeholder="Enter Age" v-model="fd.user_age" />
            <span class="text-danger small">{{fe.user_age}}</span>
          </div>

          <div class="form-group">
            <label class="small mb-1" for="userBirthDate">User Birth Date</label>
            <input class="form-control py-4" id="userBirthDate" type="date" placeholder="Enter Age" v-model="fd.birth_date" />
            <span class="text-danger small">{{fe.birth_date}}</span>
          </div>

          <div class="form-group mt-4 mb-0"><button type="submit" class="btn btn-primary btn-block">Save Account</button></div>
        </form>
      </div>
      <div class="card-footer text-center">
        <div class="small">* All fields are required!</div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  data: function () {
    return { fd: {}, fdDefault: { user_status: 1, first_name: 'firstName', last_name: 'lastName' }, fe: {} /** fe = formErrors */ }
  },

  created() {
    this.$store.dispatch('getUsers');
  },

  watch: {
    '$store.state.cache.users': {
      immediate: true,
      handler: function () {

        this.loadFormData();
      }
    }
  },

  methods:{
    updateFd: async function () {
      // console.log(this.fd);

      this.fe = {};
      let ss = await this.$fn.postData('user/upduser', this.fd);
      if(_.get(ss, 'error') == '201')return this.fe = ss.messages;
      this.fd = ss;

    },

    loadFormData: function () {
      if(parseInt(this.$route.params.id)){
        this.fd = this.$store.getters.getFromList({key: 'cache.users', val: this.$route.params.id });
      }else{
        this.fd = this.fdDefault;
      }

    }
  }
}
</script>


