<template>
  <div>

    <h1 class="mt-4">Members List</h1>

    <div class="card mb-4">
      <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Registered at</th>
              <th>Action</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Registered at</th>
              <th>Action</th>
            </tr>
            </tfoot>
            <tbody>
            <template v-for="(user, index) in users">
              <tr v-bind:key="index">
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.user_registered}}</td>
                <td><router-link :to="{name: 'userEditForm', params: {id:user.id} }">Edit</router-link></td>
              </tr>
            </template>


            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import _ from 'lodash';

export default {
  data: function () {
    return { users: {}, }
  },

  created: function() {
    this.index();
  },

  watch: {
    '$store.state.cache.users': {
      immediate: true,
      handler: function () {
        if(_.get(this.$store.state.cache, 'users')) this.users = JSON.parse( JSON.stringify(_.get(this.$store.state.cache, 'users')) );
      }
    }
  },

  methods: {
    index: async function () {
      this.$store.dispatch('getUsers');



    }
  }
}
</script>


