<template>
  <div id="app" v-if="$store.state.indx.lang">

<template v-if="auth">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
    ><!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" v-model="globalSearch" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <!-- Navbar-->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="login.html">Logout</a>
          </div>
        </li>
        <li class="nav-item">
          <router-link to="/" class="nav-link">Home</router-link>
        </li>
        <li>
          <router-link to="/about" class="nav-link">About</router-link>
        </li>
      </ul>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">

              <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
              </a>


              <div class="sb-sidenav-menu-heading">Core</div>

              <a class="nav-link" href="#" v-on:click="show = !show">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Content Manager
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <transition name="slide-fade" mode="out-in">
              <div class="collapse show" aria-labelledby="headingOne" data-parent="#sidenavAccordion" v-show="show">
                <nav class="sb-sidenav-menu-nested nav" >
                  <router-link class="nav-link" :to="{name:'contentPage'}">Page</router-link>
                  <router-link class="nav-link" :to="{name:'taxonomy'}">Taxonomy</router-link>
                  <router-link class="nav-link" :to="{name:'menu'}">Menu</router-link>
                </nav>
              </div>
              </transition>

              <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                User Manager
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse show" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                  <router-link class="nav-link" :to="{name:'userEditForm', params: {id: 'new'}}">New User</router-link>
                  <router-link class="nav-link" :to="{name:'usersList'}">Users List</router-link>
                </nav>
              </div>


            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap

          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <transition name="slide-fade" mode="out-in">
              <router-view/>
            </transition>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Your Website 2019</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
</template>

<template v-if="!auth">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                <div class="card-body">
                  <form v-on:submit.stop.prevent="tryAuth()">
                    <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" v-model="fd.email" /></div>
                    <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" v-model="fd.pass" /></div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" v-model="fd.rememberPass" /><label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" href="password.html">Forgot Password?</a><button class="btn btn-primary" type="submit">Login</button></div>
                  </form>
                </div>
                <div class="card-footer text-center">
                  <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

  </div>
</template>

  </div>
</template>


<script>
  import _ from 'lodash';
  import conf from "./helpers/conf";


  export default {
    data: function () {
      return { auth: 1, fd: { role: 1, email: '', pass: '', rememberPass: '' }, globalSearch: '', show:1 }
    },
    created: function(){
      this.starter();
    },
    watch: {
      globalSearch: function () {
        this.$store.commit('setStateDeep', { key: 'tmp.globalSearch', val: this.globalSearch });
      }
    },
    methods:{
      tryAuth: async function () {
        // console.log(this.fd);


        let res = await this.$fn.postData('map/auth', this.fd);
        console.log(res);
        if(res.status==1){
          this.auth = 1;
          this.starter();
        }else {
          this.auth = 0;
        }
        console.log( this.$cookies.get("us") );
        console.log(_.get(this.fd, 'firstName'));

      },
      starter: function () {
        if(!this.auth)return false;

        this.$cookies.set("us","25j_7Sl6xDq2Kc3ym0fmrSSk2xV2XkUkX");
        this.$store.commit('setState', { key: conf, val: conf });
        this.$store.dispatch('indx');
      }
    }
  }
</script>

